.sider {
    background: #595049;
    padding: 80px 30px;
    @media only screen and (max-width: 600px) {
        order: 2;
    }
    @media print {
        padding: 20px;
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: 62px 62px;
    grid-gap: 40px;
    justify-content: center;
}

.project-link {
    display: flex;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #dbdad3;
    align-items: center;

    transition: all ease-in-out 200ms;

    &:hover {
        transform: scale(1.05);
    }

    img {
        max-width: 50px;
        margin-right: 10px;
    }
}
