.project-item {
    margin-bottom: 40px;
    p {
        font-style: unset;
        font-size: 14px;
        padding: 0px;
        margin: 5px 0px;
    }
    .project-detail {
        margin-top: 10px;
    }
    li {
        margin-top: 10px;
    }
}
